* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.input {
  padding: 10px 15px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  font-size: 18px;
  outline: none;
  border-radius: 10px;
  background-color: white;
}
label {
  font-size: 18px;
  letter-spacing: 1.4px;
}
.tableForm {
  margin-top: 10px;
  background-color: beige;
  border-radius: 5px;
}
.btn {
  background-color: rgb(138, 177, 83);
  color: white;
  padding: 10px 20px;
  font-size: large;
  font-weight: 600;
  border-radius: 10px;
}

input:invalid:focus {
  border: 2px solid red;
}
.entries {
  width: 100%;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  background-color: beige;
  border-radius: 5px;
  margin-bottom: 20px;
}
.entries table {
  margin: 0 auto;
  border-collapse: collapse;
}
.entries table th {
  padding: 15px;
}
.entries table td {
  border: 1px solid black;
  text-align: left;
  padding: 10px;
  text-align: center;
}
h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
}
